.root {
    border-radius: 12px;
    padding: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--gray6);
    position: relative;
    line-height: 16px;
    background: var(--lowContrast);
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 30px -5px;

    @media (prefers-color-scheme: dark) {
        background: var(--grayA2);
    }
}

.shine {
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(90deg, rgba(56, 189, 248, 0), var(--gray5) 20%, var(--gray9) 67.19%, rgba(236, 72, 153, 0));
        height: 1px;
        position: absolute;
        top: -1px;
        width: 100%;
        z-index: -1;
    }
}