.framer {
  [cmdk-root] {
    max-width: 640px;
    width: 100%;
    padding: 8px;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    font-family: var(--font-sans);
    border: 1px solid var(--gray6);
    box-shadow: var(--cmdk-shadow);
    outline: none;

    .dark & {
      background: var(--gray2);
    }
  }

  [cmdk-framer-header] {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 0 8px;
    border-bottom: 1px solid var(--gray5);
    margin-bottom: 12px;
    padding-bottom: 8px;

    svg {
      width: 20px;
      height: 20px;
      color: var(--gray9);
      transform: translateY(1px);
    }
  }

  [cmdk-input] {
    font-family: var(--font-sans);
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    background: var(--bg);
    color: var(--gray12);

    &::placeholder {
      color: var(--gray9);
    }
  }

  [cmdk-item] {
    content-visibility: auto;

    cursor: pointer;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray12);
    padding: 8px 8px;
    margin-right: 8px;
    font-weight: 500;
    transition: all 150ms ease;
    transition-property: none;

    &[data-selected='true'] {
      background: var(--blue9);
      color: #ffffff;

      [cmdk-framer-item-subtitle] {
        color: #ffffff;
      }
    }

    &[data-disabled='true'] {
      color: var(--gray8);
      cursor: not-allowed;
    }

    & + [cmdk-item] {
      margin-top: 4px;
    }

    svg {
      width: 16px;
      height: 16px;
      color: #ffffff;
    }
  }

  [cmdk-framer-icon-wrapper] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    background: orange;
    border-radius: 8px;
  }

  [cmdk-framer-item-meta] {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  [cmdk-framer-item-subtitle] {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray11);
  }

  [cmdk-framer-items] {
    min-height: 308px;
    display: flex;
  }

  [cmdk-framer-left] {
    width: 40%;
  }

  [cmdk-framer-separator] {
    width: 1px;
    border: 0;
    margin-right: 8px;
    background: var(--gray6);
  }

  [cmdk-framer-right] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 8px;
    width: 60%;

    button {
      width: 120px;
      height: 40px;
      background: var(--blue9);
      border-radius: 6px;
      font-weight: 500;
      color: white;
      font-size: 14px;
    }

    input[type='text'] {
      height: 40px;
      width: 160px;
      border: 1px solid var(--gray6);
      background: #ffffff;
      border-radius: 6px;
      padding: 0 8px;
      font-size: 14px;
      font-family: var(--font-sans);
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.08);

      &::placeholder {
        color: var(--gray9);
      }

      @media (prefers-color-scheme: dark) {
        background: var(--gray3);
      }
    }

    [cmdk-framer-radio] {
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--gray12);
      font-weight: 500;
      font-size: 14px;
      accent-color: var(--blue9);

      input {
        width: 20px;
        height: 20px;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 9999px;
      border: 1px solid var(--gray6);
    }

    [cmdk-framer-container] {
      width: 100px;
      height: 100px;
      background: var(--blue9);
      border-radius: 16px;
    }

    [cmdk-framer-badge] {
      background: var(--blue3);
      padding: 0 8px;
      height: 28px;
      font-size: 14px;
      line-height: 28px;
      color: var(--blue11);
      border-radius: 9999px;
      font-weight: 500;
    }

    [cmdk-framer-slider] {
      height: 20px;
      width: 200px;
      background: linear-gradient(90deg, var(--blue9) 40%, var(--gray3) 0%);
      border-radius: 9999px;

      div {
        width: 20px;
        height: 20px;
        background: #ffffff;
        border-radius: 9999px;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.32);
        transform: translateX(70px);
      }
    }
  }

  [cmdk-list] {
    overflow: auto;
  }

  [cmdk-separator] {
    height: 1px;
    width: 100%;
    background: var(--gray5);
    margin: 4px 0;
  }

  [cmdk-group-heading] {
    user-select: none;
    font-size: 12px;
    color: var(--gray11);
    padding: 0 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  [cmdk-empty] {
    font-size: 14px;
    padding: 32px;
    white-space: pre-wrap;
    color: var(--gray11);
  }
}

@media (max-width: 640px) {
  .framer {
    [cmdk-framer-icon-wrapper] {
    }

    [cmdk-framer-item-subtitle] {
      display: none;
    }
  }
}
