.blurLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.015);

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5) translateZ(0);
    filter: blur(12px) opacity(0.4) saturate(100%);
    transition: filter 150ms ease;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    border-radius: inherit;
    z-index: 2;

    svg {
      width: 14px;
      height: 14px;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.16));
      transition: filter 150ms ease;
    }
  }
}
